package ${package.Controller};

import ${package.Controller}.base.RO;
import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;
import javax.servlet.http.HttpServletRequest;
import java.time.LocalDateTime;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
@Slf4j
public class ${table.controllerName} extends ${superControllerClass} {
#else
@Slf4j
public class ${table.controllerName} {
#end

    private final ${table.serviceName} ${table.lowerServiceName};

    public ${table.controllerName}(${table.serviceName} ${table.lowerServiceName}) {
        this.${table.lowerServiceName} = ${table.lowerServiceName};
    }

    @PostMapping(value = "", name = "新增")
    public RO add(HttpServletRequest request, ${entity} ${table.lowerEntityName}) {
        log.info("add:{}", ${table.lowerEntityName});
        ${table.lowerServiceName}.save(${table.lowerEntityName});
        return RO.success();
    }

    @GetMapping(value = "/{id}", name = "查看")
    public RO view(@PathVariable("id") Long id) {
        log.info("view by id:{}", id);
        ${entity} ${table.lowerEntityName} = ${table.lowerServiceName}.getById(id);
        return RO.success(${table.lowerEntityName});
    }

    @PatchMapping(value = "/{id}", name = "修改")
    public RO patchUpdate(@PathVariable("id") Long id, HttpServletRequest request, ${entity} ${table.lowerEntityName}) {
        log.info("Patch modify Id:{}", id);
        ${table.lowerEntityName}.setModifiedBy(getUserId(request));
        ${table.lowerEntityName}.setModifiedDate(LocalDateTime.now());
        ${table.lowerServiceName}.updateById(${table.lowerEntityName});
        return RO.success();
    }

    @DeleteMapping(value = "/{id}", name = "删除")
    public RO remove(HttpServletRequest request, @PathVariable("id") Long id) {
        log.info("delete by id:{}", id);
        ${table.lowerServiceName}.removeById(id);
        return RO.success();
    }

    @GetMapping(value = "", name = "列表")
    public RO list(${entity} ${table.lowerEntityName}, Integer pageNum, Integer pageSize) {
        log.info("list param:{}, page:{}, size:{}", ${table.lowerEntityName}, pageNum, pageSize);
        Page<${entity}> page = new Page<>(pageNum, pageSize);
        Page<${entity}> pageList = ${table.lowerServiceName}.page(page);
        return RO.success(pageList);
    }

}
#end